html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
ins,
strong,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
main,
td,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
iframe {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
}

body {
    font: 16px "Inter", Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.container {
    max-width: 100%;
    height: 100dvh;
    max-width: 1900px;
    margin: 0 auto;
}

main {
    width: 100%;
    height: 100%;
    background-color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#interface {
    width: 80%;
    height: 70%;
    min-width: 250px;
    max-width: 700px;
    max-height: 600px;
    padding: clamp(.7rem, 5vw, 3rem);
    background-color: #fffdfdbb;
    border: 1px solid transparent;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2.4rem;

    & h1 {
        width: 100%;
        height: auto;
        text-align: start;
        color: #11175E;
        font-family: "Rubik", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: clamp(2.5rem, 3vw, 4rem);
    }

    & form {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;

        & input[type="text"] {
            width: 40%;
            height: 30px;
            padding: .5rem;
            color: #333;
            outline: none;
            border: 1px solid #c5c5c5;
            min-width: 200px;
            flex-grow: 1;
        }

        & button {
            width: 2.5rem;
            height: 4rem;
            flex-grow: 1;
            font-size: clamp(1.5rem, 3vw, 1.9rem);
            font-weight: 300;
            min-width: 5rem;
            border: none;
            color: #fff;
            background-color: #2c70ff;
            border-radius: .5rem;
            transition: background-color .3s ease-in-out;

            &:hover {
                background-color: #11175E;
                cursor: pointer;
            }
        }
    }

    & article {
        width: 100%;
        height: 50dvh;
        flex-shrink: 1;
        overflow-y: auto;
    }

    & footer {
        width: 100%;
        height: auto;

        & button {
            width: 30%;
            min-height: 4rem;
            max-width: 19rem;
            background-color: #ff2424;
            border: none;
            border-radius: 1.5rem;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
                background-color: #ff0000;
            }

            & i {
                font-size: 1.8rem;
                color: #ffff;
            }
        }
    }
}

/* Estilizando as taks */
#wrapper-tasks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding-top: .9rem;

    & li {
        width: 100%;
        height: auto;
    }
}

.wrapper-values {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto 1fr minmax(90px, 100px);
    grid-template-rows: repeat(2, auto);
    grid-auto-rows: auto;
    row-gap: 1rem;
    column-gap: .5rem;
    align-items: center;

    & input {
        display: none;
    }

    & p[aria-label="tarefa"] {
        grid-column: 1/3;
        grid-row: 1/2;
        width: 100%;
        max-width: 100%;
        height: auto;
        font-size: clamp(1.4rem, 4vw, 1.9rem);
        font-weight: 500;
        color: #11175E;
        font-family: "Inter", Arial, Helvetica, sans-serif;
        margin-left: .5rem;
        overflow-wrap: break-word;
        hyphens: auto;
    }

    & .wrapper-concluido {
        grid-column: 3/4;
        grid-row: 1/3;
        width: 100%;
        height: auto;
    }

    & .wrapper-data {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 100%;
        max-width: 100%;
        height: auto;
        font-size: clamp(1.4rem, 3vw, 1.4rem);
        color: #B1BACB;
    }

    & span {
        grid-column: 1/2;
        width: auto;
        border: 1px solid #B1BACB;
        padding: .5rem;
        font-size: clamp(.9rem, 1vw, 1rem);
        color: #B1BACB;
        border-radius: 1rem;
        margin-left: .5rem;
        max-height: 2rem;
    }
}

/* consfiguração de não concluido  com button*/
.wrapper-concluido {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    & .wrapper-checked {
        display: none;
    }

    & button {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(1.2rem, 3vw, 1.4rem);
        text-transform: capitalize;
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: #fff;
        background-color: #2c70ff;
        border: none;
        border-radius: .5rem;
        padding: 12%;
        transition: background-color .3s ease-in-out;

        &:hover {
            background-color: #11175E;
            cursor: pointer;
        }
    }
}

input[type="checkbox"]:checked~.wrapper-concluido {
    & button {
        display: none;
    }

    & .wrapper-checked {
        width: 90%;
        max-width: 3.5rem;
        min-width: 2.5rem;
        height: 5dvh;
        max-height: 3.5rem;
        min-height: 2.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #09f0f0;
        cursor: pointer;

        &:hover {
            background-color: #07dbdb;
        }

        & i {
            width: auto;
            font-size: clamp(1.9rem, 4vw, 1.6rem);
            color: #fff;
        }
    }
}
input[type="checkbox"]:checked~p {
    text-decoration: line-through;
    color: #8F98A8;
}

/* Ajustando detalhes no layout para responsividade */
@media (max-width: 559px) {

    html,
    body {
        max-width: 100dvw;
        overflow-x: hidden;
    }
    section#interface {
        max-width: 95dvw;
        min-height: 100dvh;
        width: 100%;
        padding: .9rem;

        & h1 {
            margin-top: 1rem;
        }

        border-radius: 0;
    }

    #toDo-form {
        display: flex;
        justify-content: center;
        flex-direction: column;

        & input#description[type="text"] {
            min-width: calc(100% - 1rem);
        }

        & input#label[type="text"] {
            min-width: calc(100% - 1rem);
        }

        & button#button-form {
            min-width: 100%;

            &:hover {
                background-color: #2c70ff;
            }
        }
    }

    .wrapper-values {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
         overflow-x:hidden;
       
        & p {
            order: 1;
        }
        & span {
            order: 2;
            margin: 0 auto 0 .7rem;
            justify-self: flex-start;
        }
        & .wrapper-data {
            order: 3;
        }
        & .wrapper-concluido {
            order: 4;
            & button {
                padding: 4% 9%;
                font-size: 1.9rem;
                &:hover {
                background-color: #2c70ff;
                }
            }
        }
    }


}